<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar close">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus'></i>
      <span class="logo_name">DanzzCoding</span>
    </div>
    <ul class="nav-links">
      <li>
        <a href="#">
          <i class='bx bx-home' ></i>
          <span class="link_name">Dashboard</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="#">Dashboard</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-download' ></i>
            <span class="link_name">Download</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Download</a></li>
          <li><a href="/api/download/ytmp3?url=URL_NYA=apikey=YOUR_APIKEY">Yt mp3</a></li>
          <li><a href="/api/download/ytmp4?url=URL_NYA=apikey=YOUR_APIKEY">Yt mp4</a></li>
          <li><a href="/api/download/ytplaymp3?url=URL_NYA=apikey=YOUR_APIKEY">Yt Play mp3</a></li>
          <li><a href="/api/download/ytplaymp4?url=URL_NYA=apikey=YOUR_APIKEY">Yt Play mp4</a></li>
          <li><a href="/api/download/ytplay?url=URL_NYA=apikey=YOUR_APIKEY">Yt Play</a></li>
          <li><a href="/api/download/tiktokmp3?url=https://vm.tiktok.com/ZSdECh2Y4=apikey=YOUR_APIKEY">Tiktok mp3</a></li>
          <li><a href="/api/download/tiktokmp4?url=https://vm.tiktok.com/ZSdECh2Y4=apikey=YOUR_APIKEY">Tiktok mp4</a></li>
          <li><a href="/api/download/tiktoknowm?url=https://vm.tiktok.com/ZSdECh2Y4=apikey=YOUR_APIKEY">Tiltok No Wm</a></li>
          <li><a href="/api/download/igstory?url=URL_NYA=apikey=YOUR_APIKEY">Ig Story</a></li>
          <li><a href="/api/download/igfoto?url=URL_NYA=apikey=YOUR_APIKEY">Ig Foto</a></li>
          <li><a href="/api/download/igvideo?url=URL_NYA=apikey=YOUR_APIKEY">Ig Video</a></li>
          <li><a href="/api/download/igreal?url=URL_NYA=apikey=YOUR_APIKEY">Ig Real</a></li>
          <li><a href="/api/download/pinterest?apikey=YOUR_APIKEY">Pinterest</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-image' ></i>
            <span class="link_name">Cecan</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Cecan</a></li>
          <li><a href="/api/cecan/indonesia?apikey=YOUR_APIKEY">Indonesia</a></li>
          <li><a href="/api/cecan/jepang?apikey=YOUR_APIKEY">Jepang</a></li>
          <li><a href="/api/cecan/korea?apikey=YOUR_APIKEY">Korea</a></li>
          <li><a href="/api/cecan/china?apikey=YOUR_APIKEY">China</a></li>
          <li><a href="/api/cecan/thailand?apikey=YOUR_APIKEY">Thailand</a></li>
          <li><a href="/api/cecan/vietnam?apikey=YOUR_APIKEY">Vietnam</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-link-alt' ></i>
            <span class="link_name">Convert</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Convert</a></li>
          <li><a href="/api/convert/tourl?url=URL_NYA&apikey=YOUR_APIKEY">Web Design</a></li>
          <li><a href="#">To Mp3</a></li>
          <li><a href="#">To Mp4</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-plug' ></i>
            <span class="link_name">Stalk</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Stalk</a></li>
          <li><a href="/api/stalk/github?username=Ramdaniofficial&apikey=YOUR_APIKEY">Github</a></li>
          <li><a href="/api/stalk/instagram?username=muhammadramdani19653&apikey=YOUR_APIKEY">Instagram</a></li>
          <li><a href="/api/stalk/herodetail?hero=fanny&apikey=YOUR_APIKEY">Hero</a></li>
        </ul>
      </li>
      <li>      	
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-video' ></i>
            <span class="link_name">Asupan</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Asupan</a></li>
          <li><a href="/api/asupan/santuy?apikey=YOUR_APIKEY">Santuy</a></li>
          <li><a href="/api/asupan/bocil?apikey=YOUR_APIKEY">Bocil</a></li>
          <li><a href="/api/asupan/ukhty?apikey=YOUR_APIKEY">Ukhty</a></li>
          <li><a href="/api/asupan/geayubi?apikey=YOUR_APIKEY">Geayubi</a></li>
          <li><a href="/api/asupan/chika?apikey=YOUR_APIKEY">Chika</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-game' ></i>
            <span class="link_name">Game</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Game</a></li>
          <li><a href="/api/game/tebaklirik?apikey=YOUR_APIKEY">Tebak Lirik</a></li>
          <li><a href="/api/game/tebakkimia?apikey=YOUR_APIKEY">Tebak Kimia</a></li>
          <li><a href="/api/game/tebakjenaka?apikey=YOUR_APIKEY">Tebak Jenaka</a></li>
          <li><a href="/api/game/tebakbendera?apikey=YOUR_APIKEY">Tebak Bendera</a></li>
          <li><a href="/api/game/tebakgambar?apikey=YOUR_APIKEY">Tebak Gambar</a></li>
          <li><a href="/api/game/caklontong?apikey=YOUR_APIKEY">Cak Lontong</a></li>
        </ul>
      </li>
      <li>      	
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-text' ></i>
            <span class="link_name">Text Pro</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Text Pro</a></li>
          <li><a href="/api/textpro/halloween?text=yourtext&apikey=YOUR_APIKEY">Halloween</a></li>
          <li><a href="/api/textpro/rainbow?text=yourtext&apikey=YOUR_APIKEY">Rainbow</a></li>
          <li><a href="/api/textpro/scfi?text=yourtext&apikey=YOUR_APIKEY">Scfi</a></li>
          <li><a href="/api/textpro/blue?text=yourtext&apikey=YOUR_APIKEY">Blue</a></li>
          <li><a href="/api/textpro/juice?text=yourtext&apikey=YOUR_APIKEY">Juice</a></li>
          <li><a href="/api/textpro/purple?text=yourtext&apikey=YOUR_APIKEY">Purple</a></li>
          <li><a href="/api/textpro/toxic?text=yourtext&apikey=YOUR_APIKEY">Toxic</a></li>
          <li><a href="/api/textpro/peridot?text=yourtext&apikey=YOUR_APIKEY">Peridot</a></li>
          <li><a href="/api/textpro/metal?text=yourtext&apikey=YOUR_APIKEY">Metal</a></li>
          <li><a href="/api/textpro/realistic?text=yourtext&apikey=YOUR_APIKEY">Realistic</a></li>
          <li><a href="/api/textpro/impressive?text=yourtext&apikey=YOUR_APIKEY">Impressive</a></li>
          <li><a href="/api/textpro/cracked?text=yourtext&apikey=YOUR_APIKEY">Cracked</a></li>
          <li><a href="/api/textpro/magma?text=yourtext&apikey=YOUR_APIKEY">Magma</a></li>
          <li><a href="/api/textpro/thunder?text=yourtext&apikey=YOUR_APIKEY">Thunder</a></li>
          <li><a href="/api/textpro/berry?text=yourtext&apikey=YOUR_APIKEY">Berry</a></li>
          <li><a href="/api/textpro/transformer?text=yourtext&apikey=YOUR_APIKEY">Transformer</a></li>
          <li><a href="/api/textpro/horror?text=yourtext&apikey=YOUR_APIKEY">Horror</a></li>
          <li><a href="/api/textpro/metallic?text=yourtext&apikey=YOUR_APIKEY">Metallic</a></li>
          <li><a href="/api/textpro/circuit?text=yourtext&apikey=YOUR_APIKEY">Circuit</a></li>
          <li><a href="/api/textpro/sketch?text=yourtext&apikey=YOUR_APIKEY">Sketch</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-compass' ></i>
            <span class="link_name">Random</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
         <li><a class="link_name" href="#">Random</a></li>
      <li><a href="/api/jumlahangka?text=82732&apikey=YOUR_APIKEY">jumlahangka</a></li>
    <li><a href="/api/jumlahhuruf?text=wwkaisv&apikey=YOUR_APIKEY">jumlahhuruf</a></li>
    <li><a href="/api/besarkecil?text=osjwux&apikey=YOUR_APIKEY">besarkecil</a></li>
    <li><a href="/api/resepmasakan?text=bakso&apikey=YOUR_APIKEY">resepmasakan</a></li>
    <li><a href="/api/katajago?text=cantik&apikey=YOUR_APIKEY">katajago</a></li>
    <li><a href="/api/artimimpi?text=ular&apikey=YOUR_APIKEY">artimimpi</a></li>
    <li><a href="/api/artinama?text=nayla&apikey=YOUR_APIKEY">artinama</a></li>
    <li><a href="/api/kapital?text=osiwmsp&apikey=YOUR_APIKEY">kapital</a></li>
    <li><a href="/api/halah?text=halo&apikey=YOUR_APIKEY">halah</a></li>
    <li><a href="/api/huluh?text=halo&apikey=YOUR_APIKEY">huluh</a></li>
    <li><a href="/api/heleh?text=hallo&apikey=YOUR_APIKEY">heleh</a></li>
    <li><a href="/api/bilangangka?text=9273202&apikey=YOUR_APIKEY">bilangangka</a></li>
    <li><a href="/api/balikangka?text=0274101&apikey=YOUR_APIKEY">balikangka</a></li>
    <li><a href="/api/balikhuruf?text=jaheoxlam&apikey=YOUR_APIKEY">balikhuruf</a></li>
        </ul>
      </li>
      <li>
        <a href="https://wa.me/6288296339947?text=BANG+NGECEK+APIKEY.">
          <i class='bx bx-file' ></i>
          <span class="link_name">Check Apikey</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="https://wa.me/6288296339947?text=BANG+NGECEK+APIKEY.">Check Apikey</a></li>
        </ul>
      </li>
      <li>
        <a href="https://youtube.com/DanzzCoding">
          <i class='bx bx-code' ></i>
          <span class="link_name">Source code</span>
        </a>
        <ul class="sub-menu blank">
          <li><a class="link_name" href="https://youtube.com/DanzzCoding">Source code</a></li>
        </ul>
      </li>
      <li>
        <div class="iocn-link">
          <a href="#">
            <i class='bx bx-link' ></i>
            <span class="link_name">Sosmed</span>
          </a>
          <i class='bx bxs-chevron-down arrow' ></i>
        </div>
        <ul class="sub-menu">
          <li><a class="link_name" href="#">Sosmed</a></li>
          <li><a href="https://github.com/Ramdaniofficial">Github</a></li>
          <li><a href="https://youtube.com/DanzzCoding">Youtube</a></li>
          <li><a href="https://instagram.com/muhammadramdani196453">Instagram</a></li>
        </ul>
      </li>
      <li>
    <div class="profile-details">
      <div class="profile-content">
        <!--<img src="image/profile.jpg" alt="profileImg">-->
      </div>
      <div class="name-job">
        <div class="profile_name">DanzzCoding</div>
        <div class="job">Developer</div>
      </div>
      <i class='bx bx-log-out' ></i>
    </div>
  </li>
</ul>
  </div>
  <section class="home-section">
    <div class="home-content">
      <i class='bx bx-menu' ></i>
      <span class="text">My Rest Api</span>
    </div>
  </section>
  <script>
  let arrow = document.querySelectorAll(".arrow");
  for (var i = 0; i < arrow.length; i++) {
    arrow[i].addEventListener("click", (e)=>{
   let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
   arrowParent.classList.toggle("showMenu");
    });
  }
  let sidebar = document.querySelector(".sidebar");
  let sidebarBtn = document.querySelector(".bx-menu");
  console.log(sidebarBtn);
  sidebarBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("close");
  });
  </script>
</body>
</html>
